<%= render "/shared/listing_header" %>

<div class="main_item_view">
    <% if @listing.errors.any? %>
        <% @listing.errors.full_messages.each do |message| %>
            <li class="errors"><%= message %></li>
        <% end %>
    <% end %>


    <div class="card-large light round-box">
        <%= render "/shared/form" %>
    </div>
</div>