/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    color: #ffffff;
    background-color: darkcyan;
}

a {
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

.light-round-box {
    background-color: cadetblue;
    text-align: center;
    padding: 2em;
    margin: 2em;
    border-radius: 2em;
    box-shadow: cadetblue, 1em, 1em;
    color: #ffffff;
}

nav {
    display: contents;
    justify-items: right;
}

nav li {
    list-style-type: none;
    max-width: fit-content;
}
div.listing_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
}

div.card {
    background-color: cadetblue;
    width: 20vw;
}

div.card h3 {
    font-weight: 600;
    font-size: 2em;
}
div.card img {
    width: 100%;
    border-radius: 2em;
}

div.form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}